:root {
  --color-text: #f7f7f7;

  --color-background-primary: #101010;
  --color-background-primary-surface: #212120;
  --color-background-secondary: #212120;

  --color-accent: #ffc107;

  --color-success: green;
  --color-warning: yellow;
  --color-error: red;

  --color-action: #007bff;

  --spacing-unit: 8px;
  --spacing-small: calc(1 * var(--spacing-unit));
  --spacing-medium: calc(2 * var(--spacing-unit));
  --spacing-large: calc(3 * var(--spacing-unit));

  --icon-size: 1.75rem;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-action);
}

a:hover {
  text-decoration: underline;
}
